@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}
html {
  scroll-behavior: smooth; /* Enables smooth scrolling for the entire page */
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  /* Navbar */
  --welcome-bg: #fff2e9;
  --welcome-des-bg: #fff2e9;

  /* Onboarding */
  --button-bgs: #fff9f4;
  --button-bg: #ff781f;
  --button-text: #190c03;
  --small-semi-circle: #fff2e9;
}
